<p>===  50 Angular Components with different functions  ===</p>
<a routerLink="/displayhelloworld">#1 Display Hello World</a>
<br>
<a routerLink="/showhellobutton">#2 Show Hello Button</a>
<br>
<a routerLink="/displayname">#3 Display Name</a>
<br>
<a routerLink="/counter">#4 Counter</a>
<br>
<a routerLink="/simpleform">#5 Simple Form</a>
<br>
<a routerLink="/userage">#6 User Age</a>
<br>
<a routerLink="/usergreeting">#7 User Greeting</a>
<br>
<a routerLink="/calculator">#8 Calculator</a>
<br>
<a routerLink="/textlength">#9 Text Length</a>
<br>
<a routerLink="/currencyconverter">#10 Currency Converter</a>
<br>
<a routerLink="/evenoddchecker">#11 Even Odd Checker</a>
<br>
<a routerLink="/wordreverser">#12 Word Reverser</a>
<br>
<a routerLink="/showdate">#13 Show Date</a>
<br>
<a routerLink="/showusername">#14 Show Username</a>
<br>
<a routerLink="/multiplicationtable">#15 Multiplication Table</a>
<br>
<a routerLink="/simplelogin">#16 Simple Login</a>
<br>
<a routerLink="/fahrenheittocelsius">#17 Fahrenheit To Celsius</a>
<br>
<a routerLink="/bookmarklist">#18 Bookmark List</a>
<br>
<a routerLink="/charactercounter">#19 Character Counter</a>
<br>
<a routerLink="/palindromechecker">#20 Palindrome Checker</a>
<br>
<a routerLink="/temperatureconverter">#21 Temperature Converter</a>
<br>
<a routerLink="/shoppinglist">#22 Shopping List</a>
<br>
<a routerLink="/factorialcalculator">#23 Factorial Calculator</a>
<br>
<a routerLink="/todomanager">#24 To do Manager</a>
<br>
<a routerLink="/guessnumbergame">#25 Guess Number Game</a>
<br>
<a routerLink="/wordcounter">#26 Word Counter</a>
<br>
<a routerLink="/randomnumbergenerator">#27 Random Number Generator</a>
<br>
<a routerLink="/multiplicationchecker">#28 Multiplication Checker</a>
<br>
<a routerLink="/uppercaseconverter">#29 Upper Case Converter</a>
<br>
<a routerLink="/wordshuffler">#30 Word Shuffler</a>
<br>
<a routerLink="/bmisolver">#31 BMI Solver</a>
<br>
<a routerLink="/usernamevalidator">#32 Username Validator</a>
<br>
<a routerLink="/interestcalculator">#33 Interest Calculator</a>
<br>
<a routerLink="/compoundinterestcalculator">#34 Compound Interest Calculator</a>
<br>
<a routerLink="/fibonaccigenerator">#35 Fibonacci Generator</a>
<br>
<a routerLink="/oddsumcalculator">#36 Odd Sum Calculator</a>
<br>
<a routerLink="/currencyformatter">#37 Currency Formatter</a>
<br>
<a routerLink="/randomquotedisplay">#38 Random Quote Display</a>
<br>
<a routerLink="/uppercasegreeting">#39 Uppercase Greeting</a>
<br>
<a routerLink="/divisiblechecker">#40 Divisible Checker</a>
<br>
<a routerLink="/ifelsestatement">#41 If Else Statement</a>
<br>
<a routerLink="/switchcasestatement">#42 Switch Case Statement</a>
<br>
<a routerLink="/whileloop">#43 While Loop</a>
<br>
<a routerLink="/dowhileloop">#44 Do While Loop</a>
<br>
<a routerLink="/forloop">#45 For Loop</a>
<br>
<a routerLink="/nestedforloop">#46 Nested For Loop</a>
<br>
<a routerLink="/forinloop">#47 For In Loop</a>
<br>
<a routerLink="/forofloop">#48 For Of Loop</a>
<br>
<a routerLink="/booleanchecker">#49 Boolean Checker</a>
<br>
<a routerLink="/stringmanipulator">#50 String Manipulator</a>
<br>
<p>==================  Output  ==================</p>
<router-outlet></router-outlet>
